html,
body {
  font-family: 'Jua', 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif;

  box-sizing: border-box;
  padding: 0;

  background: #ef6e7e;
}

body {
  margin: 140px 0 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#reset {
  position: absolute;
  top: 0;
  left: 0;

  margin: 10px;
}

#computer-mode {
  text-align: center;
  margin: 30px 0 0;
}

#reset a,
#computer-mode a {
  text-decoration: none;

  color: white;
}

#reset a:hover,
#computer-mode a:hover {
  color: #fbd25c;
}

#header,
#score,
#opponent,
.hand-sign-wrapper {
  text-align: center;
}

#header {
  font-size: 3rem;
  color: #be4856;
}

#score {
  font-size: 4.5rem;
  margin: 30px 0;
  color: white;
}

#status {
  font-size: 1.5em;
  line-height: 1em;

  position: absolute;
  top: 40px;
  left: 50%;

  visibility: hidden;

  width: 200px;
  margin-left: -100px;
  padding: 1em;

  text-align: center;

  color: white;
  border-radius: 50px;
  background-color: #be4856;
}

#opponent {
  margin-top: 20px;
}

.hand-sign {
  margin: 0 30px;

  transition: transform .25s ease;
}

.hand-sign.selected,
.hand-sign.disabled {
  pointer-events: none;
}

.hand-sign.disabled {
  opacity: .25;
}

.hand-sign:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.slideDown {
  visibility: visible !important;

  -webkit-animation-name: slideDown;
  animation-name: slideDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

@media (max-width:480px) {
  #header {
    font-size: 2em;
  }

  .hand-sign {
    width: 90px;
    margin: 0 10px;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(8%);
  }

  65% {
    transform: translateY(-4%);
  }

  80% {
    transform: translateY(4%);
  }

  95% {
    transform: translateY(-2%);
  }

  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }

  50% {
    -webkit-transform: translateY(8%);
  }

  65% {
    -webkit-transform: translateY(-4%);
  }

  80% {
    -webkit-transform: translateY(4%);
  }

  95% {
    -webkit-transform: translateY(-2%);
  }

  100% {
    -webkit-transform: translateY(0%);
  }
}
